* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #dee2e6;
}

.container {
  max-width: 80rem;
  margin: 4rem auto;
}

.grid-users {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  column-gap: 2rem;
}

.image {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.functions {
  display: flex;
  align-items: center;
  gap: 2rem;

  justify-content: center;
}

.number {
  cursor: pointer;
  font-size: 1.3rem;
}

.button {
  font-size: 1.3rem;
  background: none;
  padding: 1px 4px;
  cursor: pointer;
  border-radius: 9px;
}

.active {
  color: blue;
  font-weight: 900;
}

.loader,
.loader:before,
.loader:after {
  background: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: blue;
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.error-message {
  margin-bottom: 1rem;
}

/* MEDIA QUERIES */

@media (max-width: 80em) {
  .container {
    max-width: 60rem;
  }

  .grid-users {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

@media (max-width: 64em) {
  .container {
    max-width: 90%;
  }

  .grid-users {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 46em) {
  .grid-users {
    grid-template-columns: 1fr;
  }
}
